In [2]:
#
import numpy as np
import pandas as pd
import f3dasm
from f3dasm import ExperimentData

In [8]:
# read the results
original_exp = ExperimentData.from_file(
    filename='experiments/exp_50d_problem',)
# new results on diff
new_exp = ExperimentData.from_file(
    filename='new_experiments/exp_50d_problem')

In [6]:
original_exp

In [9]:
new_exp

In [44]:
# merge the input_data and output_data into one pd.DataFrame
original_df = pd.concat([original_exp.input_data.data, original_exp.output_data.data],
                        axis=1)
# new results on diff
new_df = pd.concat([new_exp.input_data.data, new_exp.output_data.data],
                   axis=1)

In [45]:
# have the mean of the results according to the method
original_df_mean = original_df.groupby('method').mean()
# new results on diff
new_df_mean = new_df.groupby('method').mean()
# standard deviation
original_df_std = original_df.groupby('method').std()
# new results on diff
new_df_std = new_df.groupby('method').std()

In [46]:
original_df_mean

,seed,nmae,nrmse,r2,log_likelihood,lf_nmae,lf_nrmse,lf_re,beta_0,beta_1
method,,,,,,,,,,
bnn,5.5,1.109200,0.172544,0.234103,-59.273610,0.000000,0.000000,0.000000,0.000000,0.000000
dnn_bnn,5.5,0.652133,0.087973,0.800896,-17.760258,0.368835,0.073722,0.864266,0.000000,0.000000
dnn_lr_bnn,5.5,0.772311,0.099238,0.746573,-26.034322,0.358724,0.071069,0.875011,62.089216,1.250404

In [47]:
original_df_std

,seed,nmae,nrmse,r2,log_likelihood,lf_nmae,lf_nrmse,lf_re,beta_0,beta_1
method,,,,,,,,,,
bnn,3.02765,0.127146,0.002761,0.024322,3.671252,0.000000,0.000000,0.000000,0.000000,0.000000
dnn_bnn,3.02765,0.088242,0.001459,0.006608,0.964454,0.035152,0.007465,0.030657,0.000000,0.000000
dnn_lr_bnn,3.02765,0.199528,0.002372,0.012112,1.942538,0.025233,0.000253,0.000892,5.219414,0.001861

In [48]:
# new results on diff
new_df_mean

,seed,nmae,nrmse,r2,log_likelihood,lf_nmae,lf_nrmse,lf_re,beta_0,beta_1
method,,,,,,,,,,
dnn_lr_bnn,5.5,0.511314,0.0851,0.813719,-17.354359,0.358724,0.071069,0.875011,62.089216,1.250404

In [49]:
# new results on diff
new_df_std

,seed,nmae,nrmse,r2,log_likelihood,lf_nmae,lf_nrmse,lf_re,beta_0,beta_1
method,,,,,,,,,,
dnn_lr_bnn,3.02765,0.114472,0.000817,0.003582,0.895517,0.025233,0.000253,0.000892,5.219414,0.001861