In [1]:
#
import numpy as np
import pandas as pd
import f3dasm
from f3dasm import ExperimentData

In [2]:
# read the results
original_exp = ExperimentData.from_file(
    filename='experiments/exp_100d_problem',)
# new results on diff
new_exp = ExperimentData.from_file(
    filename='new_experiments/exp_100d_problem')

In [3]:
original_exp

In [4]:
new_exp

In [5]:
# merge the input_data and output_data into one pd.DataFrame
original_df = pd.concat([original_exp.input_data.data, original_exp.output_data.data],
                        axis=1)
# new results on diff
new_df = pd.concat([new_exp.input_data.data, new_exp.output_data.data],
                   axis=1)

In [6]:
# have the mean of the results according to the method
original_df_mean = original_df.groupby('method').mean()
# new results on diff
new_df_mean = new_df.groupby('method').mean()
# standard deviation
original_df_std = original_df.groupby('method').std()
# new results on diff
new_df_std = new_df.groupby('method').std()

In [7]:
original_df_mean

,seed,nmae,nrmse,r2,log_likelihood,lf_nmae,lf_nrmse,lf_re,beta_0,beta_1
method,,,,,,,,,,
bnn,5.5,1.068463,0.134370,0.056445,-113.496062,0.000000,0.000000,0.000000,0.000000,0.000000
dnn_bnn,5.5,0.690352,0.086788,0.606219,-58.835644,0.406884,0.081868,0.650879,0.000000,0.000000
dnn_lr_bnn,5.5,0.849981,0.105925,0.370647,-89.406055,0.411254,0.079002,0.679671,-4.750839,1.269037

In [8]:
original_df_std

,seed,nmae,nrmse,r2,log_likelihood,lf_nmae,lf_nrmse,lf_re,beta_0,beta_1
method,,,,,,,,,,
bnn,3.02765,0.313595,0.001450,0.020207,8.007486,0.000000,0.000000,0.000000,0.000000,0.000000
dnn_bnn,3.02765,0.205303,0.002039,0.018674,6.722837,0.025098,0.010894,0.106624,0.000000,0.000000
dnn_lr_bnn,3.02765,0.272457,0.001782,0.131609,10.463804,0.028176,0.002655,0.022164,0.427441,0.013254

In [9]:
# new results on diff
new_df_mean

,seed,nmae,nrmse,r2,log_likelihood,lf_nmae,lf_nrmse,lf_re,beta_0,beta_1
method,,,,,,,,,,
dnn_lr_bnn,5.5,0.551029,0.084535,0.626545,-58.730519,0.411254,0.079002,0.679671,-100.0,1.286797

In [10]:
# new results on diff
new_df_std

,seed,nmae,nrmse,r2,log_likelihood,lf_nmae,lf_nrmse,lf_re,beta_0,beta_1
method,,,,,,,,,,
dnn_lr_bnn,3.02765,0.200902,0.000968,0.008541,4.458546,0.028176,0.002655,0.022164,0.0,0.013466